{% extends "main.html" %}
{% load static %}
{% block body_content %}

<section class="authentication-form-section">
    <div class="authentication-form-main">
        <h1 class="authentication-form-title medium-heading">Forgotten your password?</h1>
        
        <form method="POST" action="." class="authentication-form">
            {% csrf_token %}
            
            {% if error %}
            <br>
            <div class="error-container">
                <p>{{error}}</p>
            </div>
            {% endif %}
            
            <div class="self-rendered-forms">
                <p class="info-text">Enter your e-mail address to obtain a new password.</p>
                {{ form.as_p }}

                <input type="submit" class="form-submit-button" value="Send E-mail">
            </div>
        </form>
    </div>
</section>

{% endblock %}