{% extends "main.html" %}
{% load static %}
{% block body_content %}

<section class="authentication-form-section">
    <div class="authentication-form-main">
        <h1 class="authentication-form-title medium-heading">Reset your password</h1>

        {% if validlink %}
            <form method="POST" action="." class="authentication-form">
                {% csrf_token %}
                
                {% if error %}
                <br>
                <div class="error-container">
                    <p>{{error}}</p>
                </div>
                {% endif %}
                
                <div class="self-rendered-forms">
                    <p class="info-text">Enter your e-mail address to obtain a new password.</p>
                    {{ form.as_p }}

                    <input type="submit" class="form-submit-button" value="Change my password">
                </div>
            </form>
        {% else %}
            <p  class="info-text">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
        
    </div>
</section>

{% endblock %}