Dear User,

We're sending you this email because a request to reset your password for your user account at {{ protocol }}://{{ domain }} has been received. If you didn't request this change, please disregard this message.

Someone asked for password reset for email {{ email }}. 

To set a new password for your account, please follow the link provided below:

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Please note that this link will expire after a certain period for security reasons. If you don't use it within this time frame, you may need to request another password reset.

In case you've forgotten your username, it is:  {{ user.get_username }}

If you encounter any issues or need further assistance, please don't hesitate to contact our support team at support@mazalaai.com.

Thank you,

The {{ site_name }} team.