/*#region =========    Root   ============  */
@media screen and (max-width: 1050px) {
    :root{
        /*===== Font Sizes =====*/
        --max-heading: 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
}

@media screen and (max-width: 650px) {
    :root{
        /*===== Font Sizes =====*/
        --max-heading: 3rem;
        --text-size: 1rem;
        --normal-text: 0.85rem;
    }
}
/*#endregion =========    End Root   ============  */


/*#region =========    General Layout   ============  */
@media screen and (min-width: 1024px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
}
/*#endregion =========    End General Layout   ============  */


/*#region =========    HEADER   ============  */
@media screen and (max-width: 768px) {
    .header .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: var(--white-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        -webkit-transition: .5s;
        transition: .5s;
    }
}

@media screen and (min-width: 768px) {
    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header__logo, .header__toggle {
        display: none;
    }

    .header .nav {
        width: 100%;
    }

    .nav__content {
        /* -ms-grid-columns: (max-content)[3]; */
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -webkit-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .nav__close, .nav__profesion {
        display: none;
    }

    .nav__perfil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img {
        width: 32px;
        height: 32px;
        margin-right: .5rem;
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav__img img {
        width: 26px;
    }

    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav__item {
        margin: 0 .25rem;
    }
    
    .nav__link {
        padding: .5rem .8rem;
        border-radius: .25rem;
    }
    .nav__link:hover {
        background-color: var(--first-color);
    }
    .active {
        background-color: var(--first-color);
        color: var(--white-color);
    }
}
/*#endregion =========    End HEADER   ============  */


/*#region =========    Reusable Classes   ============  */
@media screen and (max-width: 1050px) {
    .max-heading{
        line-height: 3.75rem;
    }
}

@media screen and (max-width: 650px) {
    .max-heading{
        line-height: 3.15rem;
    }
}
/*#endregion =========    End Reusable Classes   ============  */


/*#region =========    Index - Hero   ============  */
@media screen and (max-width: 1050px) {
    .newsletter{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .newsletter{
        width: 100%;
    }

    .index-hero-section{
        grid-template-columns: 1fr;
    }

    .index-hero-right svg{
        width: 70%;
    }

    .index-hero-right img{
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .index-hero-right img{
        width: 95%;
        top: 0;
    }

    .index-hero-section{
        padding-top: 3rem;
    }

    .newsletter{
        width: 100%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .newsletter input,
    .newsletter button
    {
        width: 100%
    }

    .index-hero-left{
        padding: 0 1rem;
    }
}
/*#endregion =========    End Index - Hero   ============  */


/*#region =========    User Registration   ============  */
@media (max-width: 850px) {
    .registration-main .box {
      height: auto;
      max-width: 550px;
      overflow: hidden;
    }
  
    .registration-main .box .inner-box {
      position: static;
      transform: none;
      width: revert;
      height: revert;
      padding: 2rem;
    }
  
    .registration-main .box .inner-box .forms-wrap {
      position: revert;
      width: 100%;
      height: auto;
    }
  
    .registration-main .box .inner-box .forms-wrap form {
      max-width: revert;
      padding: 1.5rem 2.5rem 2rem;
      transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }
  
    .registration-main .heading {
      margin: 2rem 0;
    }
  
    .registration-main .box .inner-box .forms-wrap form.sign-up-form {
      transform: translateX(100%);
    }
  
    .registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-in-form {
      transform: translateX(-100%);
    }
  
    .registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-up-form {
      transform: translateX(0%);
    }
  
    .registration-main .carousel {
      position: revert;
      height: auto;
      width: 100%;
      padding: 3rem 2rem;
      display: flex;
    }
  
    .registration-main .images-wrapper {
      display: none;
    }
  
    .registration-main .text-slider {
      width: 100%;
    }
}
  
@media (max-width: 530px) {
    .registration-main {
      padding: 1rem;
    }
  
    .registration-main .box {
      border-radius: 2rem;
    }
  
    .registration-main .box .inner-box {
      padding: 1rem;
    }
  
    .registration-main .carousel {
      padding: 1.5rem 1rem;
      border-radius: 1.6rem;
    }
  
    .registration-main .text-wrap {
      margin-bottom: 1rem;
    }
  
    .registration-main .text-group h2 {
      font-size: 1.2rem;
    }
  
    .registration-main form {
      padding: 1rem 2rem 1.5rem;
    }
}
/*#endregion =========    End User Registration   ============  */


/*#region =========    Prompts   ============  */
@media screen and (max-width: 850px) {
  .error-container{
    margin-bottom: 2rem;
  }
}
/*#endregion =========    End Prompts   ============  */


/*#region =========    Sidebar   ============  */
@media screen and (max-width: 768px) {
  .sidebar{
    top: 3rem;
    height: 93vh;
  }
}
/*#endregion =========    End Sidebar   ============  */


/*#region =========    Dashboad Hero   ============  */
@media screen and (max-width: 1120px) {
  .dashboard-hero-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-hero-card:last-child{
    grid-column: span 2;
  }
}

@media screen and (max-width: 630px) {
  .dashboard-hero-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboard-hero-card:last-child{
    grid-column: span 1;
  }
}
/*#endregion =========    End Dashboad Hero   ============  */


/*#region =========    Add New Friend   ============  */
@media screen and (max-width: 768px) {
  .addfriend-container{
    padding-top: 2rem;
  }
}
/*#endregion =========    End Add New Friend   ============  */


/*#region =========    View Chat   ============  */
@media screen and (max-width:775px) {
  .notification {
    max-width: 80%;
  }
  
  .notification.you{
    margin-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  .chat-main-div{
    padding-top: 2rem;
  }
}

@media screen and (max-width:525px) {
  .notification {
    max-width: 95%;
  }
  
  .notification.you{
    margin-left: 5%;
  }
}
/*#endregion =========    End View Chat   ============  */


/*#region =========    General   ============  */
/*#endregion =========    End General   ============  */