/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*===== Colores =====*/
  --first-color: #C4284E;
  --second-color: #FFEBED;
  --dark-color: #4C0519;
  --dark-color-alt: #5a172a;
  --white-color: #E6E7E9;
  --pure-white-color: #fff;
  --bg-color: #FFF1F2;
  --text-color: #151111;
  --text-gray-color: #999999;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --noto-font: "Noto Sans", sans-serif;
  
  /*===== z index =====*/
  --z-fixed: 100;
  
  /*===== Font Sizes =====*/
  --max-heading: 4.5rem;
  --text-size: 1.25rem;
  --normal-text: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --small-text: 0.75rem;
}


/*#region =========    General Layout   ============  */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--white-color);
  background: var(--first-color);
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--bg-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

p{
  color: var(--first-color);
  font-size: var(--text-size);
}
/*#endregion =========    End General Layout   ============  */


/*#region =========    HEADER   ============  */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--bg-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--bg-color);
  cursor: pointer;
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 100%;
}

.nav__name {
  display: block;
  color: var(--bg-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--second-color);
}

/*Aparecer menu*/
.nav.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
} 
/*#endregion =========    End HEADER   ============  */


/*#region =========    Reusable Classes   ============  */
.section{
  padding-top: 4rem;
}

.max-heading{
  font-size: var(--max-heading);
  line-height: 4.75rem;
  font-weight: 900;
  font-family: var(--noto-font);
  color: var(--dark-color);
}

.button{
  background-color: var(--first-color);
  color: var(--pure-white-color);
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 300ms ease;
}
.button:hover{
  background-color: var(--dark-color);
}
.button:focus{
  transform: scale(0.95);
}
/*#endregion =========    End Reusable Classes   ============  */


/*#region =========    Index - Hero   ============  */
.index-hero-section{
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.index-hero-left{
  width: 100%;
  padding-left: 2rem;
}

.index-hero-left .max-heading{
  width: 85%;
  padding-bottom: 4rem;
}

.index-hero-left > p{
  font-weight: 300;
  width: 80%;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.newsletter{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.newsletter input{
  width: 60%
}

.index-features{
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.index-features .stars i{
  font-size: var(--text-size);
  color: #EAB308;
}

.index-features span{
  font-size: 2rem;
  font-weight: 100;
  color: var(--first-color);
}

.index-features p{
  font-size: var(--normal-font-size);
  font-weight: 100;
}

.index-review h4{
  margin-top: 2rem;
  color: var(--first-color);
}

.index-review .user-review-meta{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.user-avatar-container{
  width: 30px;
  height: 30px;
  background-color: var(--first-color);
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar-container img{
  border-radius: 50%;
}

.index-review .user-review-meta p{
  font-size: var(--normal-font-size);
}

.index-hero-right{
  position: relative;
}

.index-hero-right svg{
  position: absolute;
  color: var(--first-color);
  opacity: 0.4;
  z-index: 1;
}

.index-hero-right .right-cornered{
  width: 50%;
  background-color: var(--second-color);
  height: 100%;
  position: absolute;
  right: 0;
  top: -2rem;
  border-radius: 2rem 0 0 2rem;
}

.index-hero-right img{
  border-radius: 1rem 0 0 1rem;
  width: 90%;
  position: absolute;
  right: 0;
  top: 4rem;
  z-index: 2;
}
/*#endregion =========    End Index - Hero   ============  */


/*#region =========    Input Fields   ============  */
input{
  background: white;
  width: 100%;
  padding: 1rem;
  font-size: var(--normal-text);
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  border-radius: 0.3rem;
}

input:focus{
  outline: 2px solid var(--first-color);
  border: none;
}
/*#endregion =========    End Input Fields   ============  */


/*#region =========    User Registration   ============  */
.registration-main{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--first-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.registration-main .box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: var(--pure-white-color);
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.registration-main .box .inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-main .box .inner-box .forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

.registration-main .box .inner-box .forms-wrap form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.registration-main .box .inner-box .forms-wrap form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.registration-main .logo {
  display: flex;
  align-items: center;
}

.registration-main .logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.registration-main.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: var(--dark-color) !important;
}

.registration-main .heading h2 {
  font-size: 2.1rem;
  font-weight: 900;
  color: var(--first-color);
  font-family: var(--noto-font);
}

.registration-main .heading h6 {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.registration-main .toggle {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.registration-main .toggle:hover {
  color: var(--first-color);
}

.registration-main .input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.registration-main .input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: var(--text-color);
  transition: 0.4s;
}

.registration-main label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.registration-main .input-field.active {
  border-bottom-color: var(--text-color);
}

.registration-main .input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.registration-main .sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--first-color);
  color: var(--pure-white-color);
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.registration-main .sign-btn:hover {
  background-color: var(--dark-color);
}

.registration-main .text {
  color: var(--text-gray-color);
  font-size: 0.7rem;
}

.registration-main .text a {
  color: var(--first-color);
  transition: 0.3s;
}

.registration-main .text a:hover {
  color: var(--dark-color);
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap {
  left: 55%;
}

.registration-main.sign-up-mode .carousel {
  left: 0%;
}

.registration-main .carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: var(--second-color);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.registration-main .images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.registration-main .image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.registration-main .img-1 {
  transform: translate(0, -50px);
}

.registration-main .img-2 {
  transform: scale(0.4, 0.5);
}

.registration-main .img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.registration-main .image.show {
  opacity: 1;
  transform: none;
}

.registration-main .text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registration-main .text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.registration-main .text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0rem);
  transition: 0.5s;
}

.registration-main .text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.registration-main .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-main .bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--text-gray-color);
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.registration-main .bullets span.active {
  width: 1.1rem;
  background-color: var(--text-color);
  border-radius: 1rem;
}
/*#endregion =========    End User Registration   ============  */


/*#region =========    Prompts   ============  */
.error-container{
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--first-color);
  border-radius: 0.4rem;
}

.error-container p{
  font-size: var(--small-font-size) !important;
}
/*#endregion =========    End Prompts   ============  */


/*#region =========    Sidebar   ============  */
.framer-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: relative;
  top: 2rem;
  width: 256px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--pure-white-color);
  padding: 24px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.3s;
}
/* -------- */
.sidebar .head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 10px;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.nav {
  flex: 1;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 20px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}

.menu ul li.active .arrow {
  transform: rotate(180deg);
}

.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.menu-btn:hover i {
  color: #000;
}

.menu-btn i {
  transition: all 0.3s;
}

.sidebar.active {
  width: 92px;
}

.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.active .user-details {
  display: none;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .menu ul li .arrow {
  display: none;
}

.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
/*#endregion =========    End Sidebar   ============  */


/*#region =========    General   ============  */
/*#endregion =========    End General   ============  */


