/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*===== Colores =====*/
  --first-color: #C4284E;
  --second-color: #FFEBED;
  --dark-color: #4C0519;
  --dark-color-alt: #5a172a;
  --white-color: #E6E7E9;
  --pure-white-color: #fff;
  --bg-color: #FFF1F2;
  --text-color: #151111;
  --text-gray-color: #999999;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --noto-font: "Noto Sans", sans-serif;
  
  /*===== z index =====*/
  --z-fixed: 100;
  
  /*===== Font Sizes =====*/
  --max-heading: 4.5rem;
  --medium-heading: 2.5rem;
  --text-size: 1.25rem;
  --normal-text: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --small-text: 0.75rem;
}


/*#region =========    General Layout   ============  */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--white-color);
  background: var(--first-color);
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--bg-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

p{
  color: var(--first-color);
  font-size: var(--text-size);
}

select{
  width: 100%;
  border: none;
  outline: none;
}
/*#endregion =========    End General Layout   ============  */


/*#region =========    HEADER   ============  */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--bg-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--bg-color);
  cursor: pointer;
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 100%;
}

.nav__name {
  display: block;
  color: var(--bg-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--second-color);
}

/*Aparecer menu*/
.header .nav.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
} 
/*#endregion =========    End HEADER   ============  */


/*#region =========    Reusable Classes   ============  */
.section{
  padding-top: 4rem;
}

.max-heading{
  font-size: var(--max-heading);
  line-height: 4.75rem;
  font-weight: 900;
  font-family: var(--noto-font);
  color: var(--dark-color);
}

.button{
  background-color: var(--first-color);
  color: var(--pure-white-color);
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 300ms ease;
}
.button:hover{
  background-color: var(--dark-color);
}
.button:focus{
  transform: scale(0.95);
}
/*#endregion =========    End Reusable Classes   ============  */


/*#region =========    Index - Hero   ============  */
.index-hero-section{
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.index-hero-left{
  width: 100%;
  padding-left: 2rem;
}

.index-hero-left .max-heading{
  width: 85%;
  padding-bottom: 4rem;
}

.index-hero-left > p{
  font-weight: 300;
  width: 80%;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.newsletter{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.newsletter input{
  width: 60%
}

.index-features{
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.index-features .stars i{
  font-size: var(--text-size);
  color: #EAB308;
}

.index-features span{
  font-size: 2rem;
  font-weight: 100;
  color: var(--first-color);
}

.index-features p{
  font-size: var(--normal-font-size);
  font-weight: 100;
}

.index-review h4{
  margin-top: 2rem;
  color: var(--first-color);
}

.index-review .user-review-meta{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.user-avatar-container{
  width: 30px;
  height: 30px;
  background-color: var(--first-color);
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar-container img{
  border-radius: 50%;
}

.index-review .user-review-meta p{
  font-size: var(--normal-font-size);
}

.index-hero-right{
  position: relative;
}

.index-hero-right svg{
  position: absolute;
  color: var(--first-color);
  opacity: 0.4;
  z-index: 1;
}

.index-hero-right .right-cornered{
  width: 50%;
  background-color: var(--second-color);
  height: 100%;
  position: absolute;
  right: 0;
  top: -2rem;
  border-radius: 2rem 0 0 2rem;
}

.index-hero-right img{
  border-radius: 1rem 0 0 1rem;
  width: 90%;
  position: absolute;
  right: 0;
  top: 4rem;
  z-index: 2;
}
/*#endregion =========    End Index - Hero   ============  */


/*#region =========    Input Fields   ============  */
input{
  background: white;
  width: 100%;
  padding: 1rem;
  font-size: var(--normal-text);
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  border-radius: 0.3rem;
}

input:focus{
  outline: 2px solid var(--first-color);
  border: none;
}
/*#endregion =========    End Input Fields   ============  */


/*#region =========    User Registration   ============  */
.registration-main{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--first-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.registration-main .box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: var(--pure-white-color);
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.registration-main .box .inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-main .box .inner-box .forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

.registration-main .box .inner-box .forms-wrap form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.registration-main .box .inner-box .forms-wrap form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.registration-main .logo {
  display: flex;
  align-items: center;
}

.registration-main .logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.registration-main.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: var(--dark-color) !important;
}

.registration-main .heading h2 {
  font-size: 2.1rem;
  font-weight: 900;
  color: var(--first-color);
  font-family: var(--noto-font);
}

.registration-main .heading h6 {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.registration-main .toggle {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.registration-main .toggle:hover {
  color: var(--first-color);
}

.registration-main .input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.registration-main .input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: var(--text-color);
  transition: 0.4s;
}

.registration-main label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.registration-main .input-field.active {
  border-bottom-color: var(--text-color);
}

.registration-main .input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.registration-main .sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--first-color);
  color: var(--pure-white-color);
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.registration-main .sign-btn:hover {
  background-color: var(--dark-color);
}

.registration-main .text {
  color: var(--text-gray-color);
  font-size: 0.7rem;
}

.registration-main .text a {
  color: var(--first-color);
  transition: 0.3s;
}

.registration-main .text a:hover {
  color: var(--dark-color);
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

.registration-main.sign-up-mode .box .inner-box .forms-wrap {
  left: 55%;
}

.registration-main.sign-up-mode .carousel {
  left: 0%;
}

.registration-main .carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: var(--second-color);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.registration-main .images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.registration-main .image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.registration-main .img-1 {
  transform: translate(0, -50px);
}

.registration-main .img-2 {
  transform: scale(0.4, 0.5);
}

.registration-main .img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.registration-main .image.show {
  opacity: 1;
  transform: none;
}

.registration-main .text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registration-main .text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.registration-main .text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0rem);
  transition: 0.5s;
}

.registration-main .text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.registration-main .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-main .bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--text-gray-color);
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.registration-main .bullets span.active {
  width: 1.1rem;
  background-color: var(--text-color);
  border-radius: 1rem;
}
/*#endregion =========    End User Registration   ============  */


/*#region =========    Prompts   ============  */
.error-container{
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--first-color);
  border-radius: 0.4rem;
}

.error-container p{
  font-size: var(--small-font-size) !important;
}
/*#endregion =========    End Prompts   ============  */


/*#region =========    Sidebar   ============  */
.framer-container {
  width: 100%;
  position: relative;
}

.sidebar {
  overflow-y: auto;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 256px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--pure-white-color);
  padding: 24px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.3s;
  z-index: 10;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 1rem;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}

.sidebar .head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 10px;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: var(--text-gray-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.nav {
  flex: 1;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-gray-color);
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px !important;
  transition: all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: var(--white-color);
  background-color: var(--first-color);
}

.menu .active{
  background-color: transparent;
}

.menu ul li .icon {
  font-size: 20px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}

.menu ul li.active .arrow {
  transform: rotate(180deg);
}

.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
  position: absolute;
  right: 4px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-gray-color);
  border: 2px solid #f6f6f6;
  background-color: var(--pure-white-color);
}

.menu-btn:hover i {
  color: #000;
}

.menu-btn i {
  transition: all 0.3s;
}

.sidebar.active {
  width: 92px;
  background-color: var(--pure-white-color);
}

.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.active .user-details {
  display: none;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .menu ul li .arrow {
  display: none;
}

.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: var(--pure-white-color);
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: var(--pure-white-color);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
/*#endregion =========    End Sidebar   ============  */


/*#region =========    Dashboard - Hero   ============  */
.framer-div{
  padding-left: 7rem;
  padding-right: 1rem;
}

.dashboard-hero-container{
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.dashboard-hero-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--pure-white-color);
  padding: 2rem;
  border-radius: 0.5rem;
}

.dashboard-hero-content i{
  font-size: var(--medium-heading);
  color: var(--first-color);
  margin-bottom: 1.2rem;
}

.dashboard-hero-content h3{
  font-size: var(--small-text-size);
  color: var(--text-gray-color);
}

.dashboard-hero-card h1{
  font-size: var(--max-heading);
  font-weight: 900;
  color: var(--first-color);
}
/*#endregion =========    End Dashboard - Hero   ============  */


/*#region =========    Add Friend   ============  */
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.contact-container{
  max-width: 700px;
  margin: 32px auto;
  font-family: var(--noto-font);
  color: var(--dark-color);
  padding: 0 32px;
}

.addfriend-container{
  padding-top: 9rem;
  padding-left: 7rem;
  padding-right: 1rem;
}

.contact-container, .contact-container *{
  box-sizing: border-box;
}

.contact-container svg{
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.contact-container h2{
  font-size: 48px;
  margin: 0;
  font-weight: 900;
}

.contact-container .sub-heading{
  font-size: 16px;
  margin-top: 8px;
  line-height: 1.8;
  position: relative;
}

.contact-container .sub-heading::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: var(--first-color);
  left: 0;
  bottom: -12px;
}

.contact-container form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.contact-container .top-section{
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.contact-container input,
.contact-container textarea
{
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15 );
    font-family: "Roboto", sans-serif;
}

.contact-container form input:focus,
.contact-container form textarea:focus{
    outline: 1px solid var(--first-color);
}

.contact-container input{
  padding-left: 2rem;
}

.contact-container form textarea{
  height: 140px;
  padding-left: 16px;
}

.contact-container .input-container,
.contact-container .button-container
{
  position: relative;
}

.contact-container .button-container
{
    width: 160px;
    margin: 8px;
    transition: all 300ms ease;
}

.contact-container .button-container:hover{
    transform: scale(1.03);
}

.contact-container .button-container svg{
    left: unset;
    right: 8px;
    color: var(--white-color);
}

.contact-container input[type='submit']{
  background-color: var(--first-color);
  color: var(--white-color);
  text-align: left;
  cursor: pointer;
}

.contact-container .group{
  flex: 1;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.addfriend-top-section{
  flex-direction: column;
}
/*#endregion =========    End Add Friend   ============  */


/*#region =========    Upload Chat   ============  */
.contact-container select{
  width: 100%;
  padding: 10px 16px;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15 );
  cursor: pointer;
}

.contact-container select option{
  text-indent: 10px;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.custum-file-upload {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--first-color);
  background-color: var(--pure-white-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px var(--dark-color);
  margin-top: 1rem;
  transition: all 300ms ease;
}

.custum-file-upload:active{
  transform: scale(0.95);
}

.custum-file-upload .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: var(--first-color);
  position: relative;
  top: 0;
  transform: translateY(0);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--first-color);
}

.custum-file-upload .text span {
  font-weight: 400;
  color: var(--first-color);
}

.custum-file-upload input {
  display: none;
}
/*#endregion =========    End Upload Chat   ============  */


/*#region =========    View Chat   ============  */
.chat-main-div{
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#c4284f15 2px, transparent 0);  /* Add your background pattern here */
  background-size: 30px 30px;
  background-position: -5px -5px;
  padding-top: 7rem;
}

.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  max-width: 60%;
  width: auto;
  padding: 0.4rem 0.4rem 1rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
  margin-bottom: 1rem;
}

.notification.you{
  margin-left: 40%;
  background-color: var(--dark-color);
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.75rem;
  border-radius: 0.125rem;
  --color: #32a6ff;;
  transition: transform 300ms ease;
  z-index: 4;
  background: var(--gradient);
}

.notification.you:after{
  inset: 0.65rem 0.75rem  0.65rem auto;
  background: linear-gradient(to bottom, var(--first-color), var(--second-color));
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification.you .notititle{
  color: #e25779;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  word-wrap: break-word;
}

.notification.you .notibody{
  color: var(--white-color);
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.date-container{
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  padding: 0.6rem;
  text-align: center;
  font-size: var(--small-font-size);
  background-color: var(--dark-color);
  margin-bottom: 1.5rem;
  color: var(--pure-white-color);
  border-radius: 1rem;
}

.notitime{
  color: white;
  z-index: 2;
  margin-top: 1rem;
  font-size: var(--small-text);
  width: 100%;text-align: right;
  padding-right: 1rem;
}

.notification.you .notitime{
  padding-right: 2rem;
}
/*#endregion =========    End View Chat   ============  */


/*#region =========    Type Writer Loading   ============  */
.typewriter {
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --duration: 3s;
  position: relative;
  /* left: 50%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
  display: none;
}

.typewriter p{
  text-align: center;
  margin-top: 0.5rem;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--first-color), var(--dark-color));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before, .typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--first-color);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--first-color);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before, .typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--first-color), var(--dark-color));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {
  85%, 92%, 100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%, 30% {
    transform: translateX(6px);
  }

  40%, 55% {
    transform: translateX(0);
  }

  65%, 70% {
    transform: translateX(-4px);
  }

  80%, 89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%, 30% {
    transform: translateY(34px);
  }

  40%, 55% {
    transform: translateY(22px);
  }

  65%, 70% {
    transform: translateY(10px);
  }

  80%, 85% {
    transform: translateY(0);
  }

  92%, 100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {
  5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}
/*#endregion =========    End Type Writer Loading   ============  */


/*#region =========    404 Page   ============  */

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f27405;
  margin-bottom: -6em;
  margin-left: 0em;
  z-index: -1;
}
.antenna_shadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
  -moz-box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
}
.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}
.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}
.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}
.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}
.a2 {
  position: relative;
  top: -210%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: 50px;
  background-color: #171717;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  margin-right: 5em;
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  transform: rotate(-8deg);
}
.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.notfound_text {
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.75em;
  color: white;
  letter-spacing: 0;
  border-radius: 5px;
  z-index: 10;
}
.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #d36604;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
  box-shadow: inset 0.2em 0.2em #e69635;
}
.tv::after {
  content: "";
  position: absolute;
  width: 17em;
  height: 9em;
  border-radius: 15px;
  background: repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%)
      50% 0/2500px 2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  opacity: 0.09;
}
.curve_svg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}
.display_div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3.5px 3.5px 0px #e69635;
}
.screen_out {
  width: auto;
  height: auto;

  border-radius: 10px;
}
.screen_out1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.screen {
  width: 13em;
  height: 7.85em;
  font-family: Montserrat;
  border: 2px solid #1d0e01;
  background: repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
}
@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
}
.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}
.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
}
.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b1::before {
  content: "";
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: #000000;
}
.b1::after {
  content: "";
  position: absolute;
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: #000000;
}
.b1 div {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b2::before {
  content: "";
  position: absolute;
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: #000000;
}
.b2::after {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}
.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}
.speakers .g {
  width: auto;
  height: 2px;
  background-color: #171717;
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
}
.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: #171717;
  margin-top: 0.8em;
}

.text_404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
}
.text_4041 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4042 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4043 {
  transform: scaleY(24.5) scaleX(9);
}

/*#endregion =========    End 404 Page   ============  */


/*#region =========    General   ============  */
/*#endregion =========    End General   ============  */


