{% extends "framer.html" %}
{% load static %}

{% block framer_content %}

<div class="framer-div dashboard-hero-container">
    <div class="dashboard-hero-card">
        <div class="dashboard-hero-content">
            <i class='bx bxs-group'></i>
            <h3>Total Friends</h3>
        </div>
        <h1 class="dashboard-count">{{total_friends_count}}</h1>
    </div>

    <div class="dashboard-hero-card">
        <div class="dashboard-hero-content">
            <i class='bx bxs-conversation' ></i>
            <h3>Total Chats</h3>
        </div>
        <h1 class="dashboard-count">{{total_chats_count}}</h1>
    </div>

    <div class="dashboard-hero-card">
        <div class="dashboard-hero-content">
            <i class='bx bx-user-circle'></i>
            <h3>Best Friend's Chats</h3>
            <p> {{ friend_with_max_messages.display_name }}</p>
        </div>
        <h1 class="dashboard-count">{{ friend_with_max_messages.num_messages }}</h1>
    </div>
</div>


{% endblock framer_content %}