{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Archive</title>

    {% comment %} <!-------------- FAVICON -------------> {% endcomment %}
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">


    {% comment %} <!-------------- CSS STYLING -------------> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    {% comment %} <!-------------- ICONS -------------> {% endcomment %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    
    {% include 'header.html' %}

    {% block body_content %}{% endblock body_content %}

    {% comment %} {% include 'footer.html' %} {% endcomment %}
    
    {% comment %} <!-------------- IONICONS --------------> {% endcomment %}
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    
    {% comment %} <!-------------- JS Linking --------------> {% endcomment %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
      integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>