{% load static %}

<div class="sidebar">
    <div class="menu-btn">
        <i class='bx bx-chevron-left'></i>
    </div>

    <div class="head">
        <div class="user-details">
            <p class="title">Welcome Back</p>
            <p class="name">{{user.first_name}}</p>
        </div>
    </div>
    
    <div class="nav">
        <div class="menu">
            <p class="title">Chats</p>

            <ul>
                <li>
                    <a href="#">
                    <i class='bx bxs-user'></i>
                    <span class="text">Audience</span>
                    <i class='bx bx-chevron-down arrow'></i>
                    </a>
                    <ul class="sub-menu">
                    <li>
                        <a href="#">
                        <span class="text">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="text">Subscribers</span>
                        </a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="menu">
            <p class="title">Systems</p>
            <ul>
                <li class="{% if request.path == '/dashboard/' %}active{% endif %}">
                    <a href="{% url "dashboard" %}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="{% if request.path == '/add_friend/' %}active{% endif %}">
                    <a href="{% url "add_friend" %}">
                        <i class='bx bxs-user-plus'></i>
                        <span class="text">Add New Friend</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="menu">
      <p class="title">Account</p>
      <ul>
        <li>
          <a href="#">
            <i class="icon ph-bold ph-info"></i>
            <span class="text">Help</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon ph-bold ph-sign-out"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </div>

</div>