{% extends 'main.html' %}
{% load static %}

{% block body_content %}

<main class="registration-main">
<div class="box">
    <div class="inner-box">
    <div class="forms-wrap">
        <form action="{% url 'login' %}" method="POST" autocomplete="off" class="sign-in-form">
            {% csrf_token %}
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Chat Archive" />
                <h4>Chat Archive</h4>
            </div>

            <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
            </div>

            {% if login_error %}
                <div class="error-container">
                    <p>{{login_error}}</p>
                </div> 
            {% endif %}

            <div class="actual-form">
                <div class="input-wrap">
                <input type="text" name="email" minlength="4" class="input-field" autocomplete="off" required />
                <label>Email</label>
                </div>

                <div class="input-wrap">
                <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                <label>Password</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />

                <p class="text">
                Forgotten your password or you login datails?
                <a href="#">Get help</a> signing in
                </p>
            </div>
        </form>

        <form action="{% url 'signup' %}" method="POST" autocomplete="off" class="sign-up-form">
            {% csrf_token %}

            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Chat Archive" />
                <h4>Chat Archive</h4>
            </div>

            <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
            </div>

            {% if signup_error %}
                <div class="error-container">
                    <p>{{signup_error}}</p>
                </div>
            {% endif %}

            <div class="actual-form">
                <div class="input-wrap">
                <input type="text" minlength="4" name="name" value="{{form_values.name}}" class="input-field" autocomplete="off" required />
                <label>Name</label>
                </div>

                <div class="input-wrap">
                <input type="email" class="input-field" name="email" value="{{form_values.email}}" autocomplete="off" required />
                <label>Email</label>
                </div>

                <div class="input-wrap">
                <input type="password" minlength="4" name="password" class="input-field" autocomplete="off" required />
                <label>Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />

                <p class="text">
                By signing up, I agree to the
                <a href="#">Terms of Services</a> and
                <a href="#">Privacy Policy</a>
                </p>
            </div>
        </form>
    </div>

    <div class="carousel">
        <div class="images-wrapper">
        <img src="{% static "images/image1.png" %}" class="image img-1 show" alt="" />
        <img src="{% static "images/image2.png" %}" class="image img-2" alt="" />
        <img src="{% static "images/image3.png" %}" class="image img-3" alt="" />
        </div>

        <div class="text-slider">
        <div class="text-wrap">
            <div class="text-group">
            <h2>Create your own groups</h2>
            <h2>Customize as you like</h2>
            <h2>Create chats of friends</h2>
            </div>
        </div>

        <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
        </div>
        </div>
    </div>
    </div>
</div>
</main>

{% endblock %}
